asgiref==3.9.0
brotlicffi
certifi
cffi
charset-normalizer
distlib==0.3.9
Django==5.1.2
filelock==3.16.1
flutter==0.1
greenlet
idna
mysqlclient
networkx
numpy==2.3.1
pandas==2.3.0
platformdirs==4.3.6
pycparser
PySocks
python-dateutil==2.9.0.post0
pytz==2025.2
requests
setuptools==78.1.1
six==1.17.0
SQLAlchemy
sqlparse==0.5.3
typing_extensions
tzdata==2025.2
urllib3
virtualenv==20.27.1
wheel==0.45.1
win_inet_pton